@import "../../base/global";

.login_container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .registro {
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 20%;
    }
    .Form_Label{
        margin: 5px 0px;
    }
    .Form_Control{
        background-color: $buttonHover;
        border: 1px solid $white;
        padding: 13px;
        font-size: 15px;
    }
    .Form_Control:hover{
        background: $buttonHover;
    }
    .Button{
        margin-top: 15px;
        width: 30%;
    }
    svg {
        width: 100px;
        height: 100px;
    }
}
